.top-part{
  height: 846px;
  background-image: url(../img/background-top.jpg);
}

.purple-gradient{
  height: 342px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#745083+0,322539+100 */
background: #745083; /* Old browsers */
background: -moz-linear-gradient(top,  #745083 0%, #322539 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #745083 0%,#322539 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #745083 0%,#322539 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539',GradientType=0 ); /* IE6-9 */
border: 1px solid black;
}

.white{
  height: 487px;
  background-color: #f9f9f9;
}

.white-icon{
  height: 116px;
  border: 1px solid #e6e6e6;
  background-color: #f9f9f9;
}

.grey{
  height: 512px;
  background-color: #ececec;
}

.picture{
  height: 105px;
  background-image: url(../img/background-bottom.jpg);
  background-position: bottom;
}
